@use "../variables";

.features {
    position: relative;
    background-image: linear-gradient(
        to bottom right,
        rgba(var(--color-primary-light),.8),
        rgba(var(--color-primary-dark),.8)
     ), url(/img/nat-4.jpg);
     clip-path: polygon(0 21%, 100% 0, 100% 100%, 0 100%);
     background-size: cover;
     background-position: top;
    
     height: 55vh;
     top: -65rem;
}

.card-container {
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30rem;
}

.card {
    text-align: center;
    width: 20rem;
    height: 30rem;
    border-radius: 2px;
    background-color: rgb(var(--color-grey-light-2));
    box-shadow: .2rem .5rem .5rem rgba(0,0,0,.4);
    padding: 1.5rem;

    &__title {
        text-transform: uppercase;
        color: rgb(var(--color-grey-dark));
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

    }

    &__text {
        color: rgb(var(--color-grey-dark));
        font-size: 1.4rem;
    }


    &--1 {

    }

    &--2 {

    }

    &--3 {

    }

    &--4 {

    }
}

.svg {
    color: green;//dont work :(
}